.hotspot__mainWrapper {

    .hotspot__container {
        display: flex;
        width: 100%;
        height: 100vh;

        .hotspot__image__container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 2rem;

            @media (min-width : 1460px) {
                padding: 4rem;
            }

            .hotspot__image {
                width: 100%;
                height: auto;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .hotspot__leftContainer {
            flex: 0 0 65%;
        }

        .hotspot__rightContainer {
            flex: 0 0 35%;
        }
    }
}

.hotspot__dots {
    position: absolute;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    font-weight: bold;
    z-index: 1;
    transform: scale(0.8);
    transition: all 0.214s ease-in-out, transform 600ms cubic-bezier(.05,.97,.34,1.24);

    &:hover {
        transform: scale(1.1);
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        color: $white;
        animation-name: ripple;
        animation-duration: 1.6s;
        transform: translate(-50%, -50%);
        animation-iteration-count: infinite;
    }
}

.isSelecting{
    .hotspot__dots {

    }
}

.isEditing{
    .hotspot__dots {
        background-color: #abff49;
    }
}
.isDeleting{
    .hotspot__dots {
        background-color: #ff2f2f;
    }
}
.isRepositioning{
    .hotspot__dots {
        background-color: #ffde30;
    }
}

.hotspot__image__placeholder {
    background-color: $white;
    padding: 1rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    .placeHolder__wrapper {
        padding: 1rem;
        border: 1px dashed #ddd;
        border-radius: 0.3rem;
        width: 100%;
        min-height: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        svg {
            font-size: 4rem;
        }
    }

    .placeHolder__title {
        font-size: 1.2rem;
        text-align: center;
        line-height: 1.5;
        max-width: 720px;
    }
}