@import '../../styles/variable';

.hotspot__mainWrapper {
    background-color: $bgPrimary;
}

.sampleMixed{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #fff;
    max-width: 360px;

    h1 {
        font-size: 4.6rem;
        margin-bottom: 0;
    }

    h4 {
        font-size: 1.6rem;
        font-weight: 400;
    }
}